ion-list{
    width:70%;
    margin:auto;
}
ion-list-header{
    font-size: 14px;
      // min-height: 48px;
    color: #9aa0a6;
    font-weight: 600;
  }

  ion-list.md, ion-list.ios{
    background:#202124;
  }
  
  ion-item.md, ion-list.ios{
    --background:#202124;
  }
  
  ion-label.md, ion-label.ios{
    --color:white
  }

.stats{
    cursor:pointer
}

@media only screen and (max-width: 800px) {
    ion-list{
        width:100%;
    }
}