<app-header></app-header>

<ion-content [fullscreen]="true">

 
  <ion-header class="ion-no-border ion-no-padding" slot="fixed" >
    <ion-toolbar class="head">
      <div class="mobSearch" *ngIf="search">
        <ion-input class="mobInput" (keyup)="plain($event)" [(ngModel)]='plainSearch' placeholder="search" type="text" name="search">
          <ion-icon name="search"></ion-icon>
          </ion-input>
          <div class="cancel"><ion-icon name="close" (click)="toggleInput()"></ion-icon></div>
      </div>
      <div class="navCon"  *ngIf="!search">
        <!-- "col === 'All' ? 'active' : 'notActive' " -->
        <ul>
            <li [ngClass]= "{'active': col === 'All'}" (click)="fire('All')"  >ALL</li>
            <li [ngClass]= "{'active': col === 'video'}" (click)="fire('video')"> VIDEOS</li>
            <li [ngClass]= "{'active': col === 'image'}" (click)="fire('image')">PICS</li>
            <li [ngClass]= "{'active': col === 'gif'}" (click)="fire('gif')">GIFS</li>
          <li class="header">
            <ion-input class="search header" (keyup)="plain($event)" [(ngModel)]='plainSearch' placeholder="search" type="text" name="search">
              <ion-icon name="search"></ion-icon>
              </ion-input>
            </li>
          <li class="smallSearch">
            <ion-icon  name="search" (click)="toggleInput()"></ion-icon>

          </li>
        </ul>
       
      </div>
  
    
      
    </ion-toolbar>
  </ion-header>


  <ion-grid  *ngIf="allMediaWithSearch$ | async as allMedia else loadingOrError">
    <ion-row>
      <ion-col *ngFor="let media of allMedia " sizeXs="12" sizeMd="3">
        <ion-card >
          <img *ngIf="media.Mediatype === 'image' || media.Mediatype === 'gif'" [src]="media.link" />
          <app-vid [inputMedia] = media *ngIf="media.Mediatype === 'video'"></app-vid>
          <ion-card-header>
            <ion-card-title (click)="route(media)">{{media.title | stringTransform}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    
      </ion-row>
    
    </ion-grid>
    <ion-fab (click) = "upload()" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon class="plus" name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ng-template #loadingOrError>
      <ng-container *ngIf="errormsg; else loading">
        <div  class="errors">
          <div>
            {{errormsg}}
    
          </div>
    
        </div>
      </ng-container>
      <ng-template #loading>
        <div  class="errors">
          <div>
            <ion-spinner name="lines-small" ></ion-spinner>
    
          </div>
    
        </div>
      </ng-template>
    </ng-template>
    
  </ion-content>
     






