<app-header></app-header>


<ion-content >
  <div *ngIf="User$ | async as user; else loadingOrError">
    <ion-grid >
      <ion-row>
        <ion-col sizeXs="12" sizeMd="5" class="Container" >
          <img [src]="user.profilepic ? user.profilepic : 'assets/profilepic.png'" alt="">
        </ion-col>
        <ion-col sizeXs="12" sizeMd="7" class="Container"  >
          <div>
            <h3>{{user.firstName}} {{user.lastName}}</h3>
            <div class="following">
              <div>{{user.followedBy.length}} followers</div>
              <div>{{user.following.length}} following</div>
            </div>
            <h4>Total points: {{totalPoints}}</h4>
          </div>
        
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-header class="ion-no-border ion-no-padding head" slot="fixed" >
      <ion-toolbar>
        <div class="mobSearch" *ngIf="search">
          <ion-input class="mobInput" (keyup)="plain($event)" [(ngModel)]='plainSearch' placeholder="search" type="text" name="search">
            <ion-icon name="search"></ion-icon>
            </ion-input>
            <div class="cancel"><ion-icon name="close" (click)="toggleInput()"></ion-icon></div>
        </div>
        <div *ngIf="!search">
          <ul>
            <li [ngClass]= "{'active': col === 'All'}" (click)="fire('All')"  >ALL</li>
            <li [ngClass]= "{'active': col === 'video'}" (click)="fire('video')"> VIDEOS</li>
            <li [ngClass]= "{'active': col === 'image'}" (click)="fire('image')">PICS</li>
            <li [ngClass]= "{'active': col === 'gif'}" (click)="fire('gif')">GIFS</li>
            <li class="header">
              <ion-input class="search header" (keyup)="plain($event)" [(ngModel)]='plainSearch' placeholder="search" type="text" name="search">
                <ion-icon name="search"></ion-icon>
                </ion-input>
              </li>
            <li class="mobSearch">
              <ion-icon  name="search" (click)="toggleInput()"></ion-icon>
  
            </li>
          </ul>
       
        </div>

        <div *ngIf="!user.media.length">
            <p>hmmmmmmmm nothing to show here... please upload as much media and come back later</p>
        </div>
        
      </ion-toolbar>
    </ion-header>
    <ion-grid class="secondgrid">
      <ion-row>
        <ion-col *ngFor="let media of allMediaWithSearch$ | async" sizeXs="12" sizeMd="3">
          
          <ion-card >
            <img *ngIf="media.Mediatype === 'image'" [src]="media.link" />
            <app-vid [inputMedia] = media *ngIf="media.Mediatype === 'video'"></app-vid>
            <ion-card-header>
              <ion-card-title (click)="route(user, media.id)">{{media.title}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      
        </ion-row>
        </ion-grid>
      </div>
      <ng-template #loadingOrError>
        <ng-container *ngIf="errormsg; else loading">
          <div  class="errors">
            <div>
              {{errormsg}}

            </div>

          </div>
        </ng-container>
        <ng-template #loading>
          <div  class="errors">
            <div>
              <ion-spinner name="lines-small" ></ion-spinner>
            </div>
          </div>
        </ng-template>
      </ng-template>
</ion-content>


