ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  ion-title{
    font-size: 22px;
    font-weight: 600;
    min-height: 20px;
  }
  
  
  .errors{
    text-align: center;
    width:100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .errors > div{
    width:80%;
  margin:auto;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0px;
    color: #9aa0a6;  
  }
  
  
  
  ion-toolbar > div{
    width:90%;
    margin:auto;
   
  }
  
  ion-input{
    width: 100%;
    margin:auto;
    padding: 20px;
    --background: rgb(29, 26, 26);;
    border-radius: 20px;
  }
  
  ion-icon{
    padding-left:20px;
  }
  
  .links{
    margin-top:0;
  }
  
  ul{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  ul > li{
    list-style-type: none;
    font-size: 14px;
    // min-height: 48px;
    color: #9aa0a6;
    font-weight: 600;
    cursor: pointer;
  }
  ion-card-title{
    cursor: pointer;
    color: #9aa0a6;
    font-weight: 600;
  }
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
  display: none;
  }
  
  ion-content {
   --offset-bottom: auto!important;
   --overflow: hidden;
   overflow: auto;
   &::-webkit-scrollbar {
     display: none;
   }
   }
  
   .head{
     position:fixed;
   }
  
  ion-grid{
    margin:auto;
    // margin-top:4em;
  }
  
  ion-card {
    height:250px;
    width:240px;
  }
  
  .mobSearch{
    display:none;
  }
  
  ion-card > img{
    width:100%;
    height: 200px
  }
  // vg-controls{
  //   display:flex;
  //   justify-content: center;
  // }
  
 
  
  
  // ion-card > vg-player{
  //   width:100%;
  //   height: 200px
  // }

  p{
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0px;
    color: #9aa0a6;  
    text-align: center;
  }
  
  vg-overlay-play{
    width: 50px;
  }

  ul > li:hover{
    color:#fff;
  }
  
  .active{
    color:#428cff !important;
    text-decoration: underline;
  }

  .topmost{
    margin-top:-4em;
  }
  .smallsearch{
    display: none;
  }
  
  
  @media only screen and (max-width: 915px) {
    .header{
      display: none;
    }

    .smallsearch{
      display: block;
      display:flex;
      justify-content: space-between;
      align-items: center;
    }

    ion-card {
      height:250px;
      width:100% !important;
      // margin:auto;
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-top: auto;
      margin-bottom:auto;
    }
    .mobSearch{
      // margin-top:4px;
      width:100%;
      height: 100%;
      display:flex !important;
      justify-content: space-between;
    }

    ion-icon{
      padding-left:0 !important;
      padding-right: 8px;
    }
  
  
    .cancel{
      color:red;
      display:flex;
      justify-content: center;
      align-items: center;
      margin-top:15px
  
    }
 
    // .cancel.md{
    //   margin-top:10px !important;
    // }
  
   
  
    ul{
      width:100%;
      margin-left: -20px;
      margin-top:20px;
  
    }
  
    ul > li{
      padding-left:8px;
      margin-top: 6px;
      font-size: 14px;
      // min-height: 48px;
      color: #9aa0a6;
      font-weight: 600;
    }

   
  
    
  
    ion-toolbar > div{
        margin-top:-30px;
    }

  
    ion-card-header.ios{
      padding: 10px 20px 10px;
    }
  
    ion-title.ios{
      font-size: 18px;
  }
  
    ion-title.md{
      color:white;
    }
  
    ion-card-title.ios{
      font-size: 18px;
       font-weight: 50; 
       line-height: 1.8;
       
       // min-height: 48px;
       color: #9aa0a6;
       font-weight: 600;
    }
  
    ion-card-title.md{
      color: #9aa0a6;
      font-weight: 600;
    }


    // .mobInput{
    //   height:20px;
    //   padding:20px !important;
    
    // }

    .mobSearch{
      width:100%;
      display:flex;
      justify-content: space-between;
      align-items: center;
      // margin-top:-30px !important;
    }

    .mobInput{
      padding: 17px !important;
      margin-bottom: -10px;
      color: #9aa0a6;
      font-size:0.8em;
  
      // padding-top: 20px !important;
    }

    ion-input{
      width: 90%;
      height:20px;
    }
  
    .cancel{
      color:red;
      margin-left:20px;
      display:flex;
      justify-content: center;
      align-items: center;
      margin-top:10px;
      
      // margin-top:20px;
    }

   .mobInput.ios{
     padding-top: 30px !important;
   }

   .head.ios{
    padding-top:2em
  }

  .mobInput.ios{

    padding: 15px !important
  }

   

  
  
  
  }
  
  
  
  