<app-header></app-header>


<ion-content [fullscreen]="true">
  <div *ngIf="allMediaWithSearch$ | async as allmedia else loadingOrError">
  <ion-header class="ion-no-border ion-no-padding" slot="fixed" >
    <ion-toolbar>
      <div class="mobSearch" *ngIf="search">
        <ion-input class="mobInput" (keyup)="plain($event)" [(ngModel)]='plainSearch' placeholder="search" type="text" name="search">
          <ion-icon name="search"></ion-icon>
          </ion-input>
          <div class="cancel"><ion-icon name="close" (click)="toggleInput()"></ion-icon></div>
      </div>
      <div *ngIf="!search">
        <ul>
          <li [ngClass]= "{'active': col === 'All'}" (click)="fire('All')"  >ALL</li>
          <li [ngClass]= "{'active': col === 'video'}" (click)="fire('video')"> VIDEOS</li>
          <li [ngClass]= "{'active': col === 'image'}" (click)="fire('image')">PICS</li>
          <li [ngClass]= "{'active': col === 'gif'}" (click)="fire('gif')">GIFS</li>
          <li class="header">
            <ion-input class="search header" (keyup)="plain($event)" [(ngModel)]='plainSearch' placeholder="search" type="text" name="search">
              <ion-icon name="search"></ion-icon>
              </ion-input>
            </li>
          <li class="mobSearch">
            <ion-icon  name="search" (click)="toggleInput()"></ion-icon>

          </li>
        </ul>
     
      </div>

      <!-- <div *ngIf="!allmedia.length">
        <p>hmmmmmmmm nothing to show here... please add  as much favourites and come back later</p>
    </div> -->
      
    </ion-toolbar>
  </ion-header>


  <ion-grid >
    <ion-row>
      <ion-col *ngFor="let media of allmedia" sizeXs="12" sizeMd="3">
        <ion-card >
          <img *ngIf="media.media.Mediatype === 'image' || media.media.Mediatype === 'gif'" [src]="media.media.link" />
          <app-vid [inputMedia] = media.media *ngIf="media.media.Mediatype === 'video'"></app-vid>
          <ion-card-header>
            <ion-card-title (click)="route(media.media, media.userId)">{{media.media.title}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    
      </ion-row>
      </ion-grid>

    </div>

    <ng-template #loadingOrError>
      <ng-container *ngIf="errormsg; else loading">
        <div  class="errors">
          <div>
            {{errormsg}}

          </div>

        </div>
      </ng-container>
      <ng-template #loading>
        <div  class="errors">
          <div>
            <ion-spinner name="lines-small" ></ion-spinner>

          </div>

        </div>
      </ng-template>
    </ng-template>
</ion-content>

