

vg-player {
    width: 100%;
    height: 400px;
}




@media only screen and (max-width: 915px) {
 

    vg-player {
        width: 100%;
        height: 100%;
    }


    .mob{
        display:none
    }

}

