<app-back-header></app-back-header>


<ion-content>
  
  <ion-grid>
    <div class="errmsg">
      <span >{{errormsg}}</span>
    </div>
    <form #form="ngForm" (ngSubmit)="upload()">
      <ion-row>
        <ion-col size="12">
          <ion-label>Title</ion-label><br>
          <ion-input  #usernameField = 'ngModel' [(ngModel)]="mediaCredentials.title" name="titleField" required type="text" placeholder="a brief title....can be name"></ion-input>

        </ion-col>
          <ion-col size="12" >
            <ion-label>Description</ion-label><br>
            <ion-textarea rows="6" cols="20" #description = 'ngModel' [(ngModel)]="mediaCredentials.description" required name="description" placeholder="Enter detailed description about the item can contain title and words in the item..."></ion-textarea>
          <!-- <ion-input #description = 'ngModel' [(ngModel)]="mediaCredentials.description" required type="text" name="description"></ion-input> -->


        </ion-col>
        
      <ion-col size="12" >
        <label *ngIf="showLabel" for="fileI" class="custom-label">{{label}}</label>
       <input id="fileI" type="file"   name="pic" (change) ="selectImage($event)">
      <!-- <small *ngIf="registerForm.get('email')?.errors?.required && registerForm.get('email')?.touched">email is required</small> -->

    </ion-col>
      </ion-row>
      <div class="bttn">
        <ion-button  mode="md" type='submit' >
          <ion-spinner name="lines-small"  *ngIf='show'></ion-spinner>
          {{btnText}}</ion-button>
    </div>
  
    </form>
    </ion-grid>

    <ion-modal [isOpen] = "openModal">
      <ng-template >
        <ion-content>
          <p> trying to add any of these?</p>
      
          
          <ion-grid class="secondgrid">
            <ion-col *ngFor="let media of foundMedia " sizeXs="12" sizeSm="6">
              <ion-card >
                <img *ngIf="media.Mediatype === 'image'" [src]="media.link" />
                <app-vid [inputMedia] = media *ngIf="media.Mediatype === 'video'"></app-vid>
                <ion-card-header>
                  <ion-card-title (click)="route(media)">{{media.title}}</ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>

            <div class="btns">
              <ion-button (click) = "continue()">Continue?</ion-button>
              <ion-button (click) = "cancel()">Cancel</ion-button>
            </div>
              </ion-grid>
        </ion-content>
      </ng-template>
    </ion-modal>
</ion-content>
