<app-back-header></app-back-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <div class="imgContainer">
            <img *ngIf="receivedMedia.Mediatype === 'image'" [src]="receivedMedia.link" />
            <app-big-vid *ngIf="receivedMedia.Mediatype === 'video'" [inputMedia]="receivedMedia"></app-big-vid>
          </div>
          <ion-card-header>
            <ion-card-title>
              <div class="info">
                <div>
                <span class="fav" (click) = "likes()" ><ion-icon name="thumbs-up"></ion-icon> :</span>
                <span [ngClass]= "{'like_active': likesColor}"> {{receivedMedia.likes.length}}</span>

                </div>
                <div >
                  <span class="fav" (click)="dislikes()"><ion-icon name="thumbs-down"></ion-icon> :</span>

                  <span [ngClass]= "{'dislike_active': dislikesColor}"> {{receivedMedia.dislikes.length}}</span>
                </div>
                <div>
                  <span [ngClass]= "{'fav_active': favColor}" class="fav" (click)="addFav()"><ion-icon name="heart"></ion-icon></span>

                </div>
                <div>
                  <span class="mob"><ion-icon name="download"></ion-icon> :</span>

                <span class="mob">{{receivedMedia.downloads ? receivedMedia.downloads : 0}}</span>
                </div>
                <div >
                  <span (click)="download()" class="mob down">download</span>
                </div>
              </div>

              <div class="download">
                <div>
                  <span><ion-icon name="download"></ion-icon> :</span>
                  <span> {{receivedMedia.downloads ? receivedMedia.downloads : 0}}</span>
                </div>
                <div>
                  <span (click)="download()" class="down">download</span>
                </div>
              </div>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>  
      </ion-row>
      </ion-grid>

      <ion-grid class="meta">
        <ion-row>
          <ion-col sizeXs="12" sizeMd="8" class="picInfo">
            <h3>{{receivedMedia.title}}</h3>
            <p>{{receivedMedia.description}}</p>
          </ion-col>
          <ion-col sizeXs="12" sizeMd="4">
            <h3>Uploaded by:</h3>
            <p class="down" (click)="route()" >{{ifOwner ? 'You' : receivedMedia.user.firstName }} {{ifOwner ? '' : receivedMedia.user.lastName}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="options">
        <ion-row>
          <ion-col class="optionsCard">
            <ion-button>Update</ion-button>
            <ion-button>Delete</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
