vg-controls{
    display:flex;
    // justify-content: center;
  }

  vg-scrub-bar{
    width:100% !important;
  }

  vg-time-display{
    font-size: 0.7em;
  }
  .play{
    // width:20px !important;
    color:yellow;
  }
  
  
   vg-player{
    width:100%;
    height: 200px
  }
  
  vg-overlay-play{
    width: 50px;
  }
  