<app-back-header></app-back-header>

<ion-content>

    <ion-grid *ngIf="User">
      <ion-row>
        <ion-col sizeXs="12" sizeMd="5" class="Container" >
          <img [src]="User.link ? User.link : 'assets/profilepic.png' " alt="User.firstName">
        </ion-col>
        <ion-col sizeXs="12" sizeMd="7" class="Container"  >
          <div>
            <h3>{{User.firstName}} {{User.lastName}}</h3>
            <div class="following">
              <div class="stats" (click)="followedBy(User.followedBy, User.id)">{{User.followedBy.length}} {{User.followedBy.length === 1 ? 'follower' : 'followers'}}</div>
              <div class="stats" (click)="followingList(User.following, User.id)">{{User.following.length}} following</div>
            </div>
            <ion-button fill="outline" (click) = "follow()">{{following ? 'following' : 'follow'}}</ion-button>
          </div>
        
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-header class="ion-no-border ion-no-padding head" >
      <ion-toolbar>
        <div class="mobSearch" *ngIf="search">
          <ion-input class="mobInput" (keyup)="plain($event)" [(ngModel)]='plainSearch' placeholder="search" type="text" name="search">
            <ion-icon name="search"></ion-icon>
            </ion-input>
            <div class="cancel"><ion-icon name="close" (click)="toggleInput()"></ion-icon></div>
        </div>
        <div *ngIf="!search">
          <ul>
            <li [ngClass]= "{'active': col === 'All'}" (click)="fire('All')"  >ALL</li>
            <li [ngClass]= "{'active': col === 'video'}" (click)="fire('video')"> VIDEOS</li>
            <li [ngClass]= "{'active': col === 'image'}" (click)="fire('image')">PICS</li>
            <li [ngClass]= "{'active': col === 'gif'}" (click)="fire('gif')">GIFS</li>
            <li class="header">
              <ion-input class="search header" (keyup)="plain($event)" [(ngModel)]='plainSearch' placeholder="search" type="text" name="search">
                <ion-icon name="search"></ion-icon>
                </ion-input>
              </li>
            <li class="smallsearch">
              <ion-icon  name="search" (click)="toggleInput()"></ion-icon>
  
            </li>
          </ul>
       
        </div>
        
      </ion-toolbar>
    </ion-header>
    <ion-grid class="secondgrid">
      <ion-row>
        <ion-col *ngFor="let media of User.media" size-sm="12" size-md="3">
          <ion-card >
            <img *ngIf="media.Mediatype === 'image' || media.Mediatype === 'gif'" [src]="media.link" />
            <app-vid [inputMedia] = media *ngIf="media.Mediatype === 'video'"></app-vid>
            <ion-card-header>
              <ion-card-title (click)="route(media)">{{media.title}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
 
        </ion-row>
        </ion-grid>

</ion-content>
