ion-grid{
    width: 70%;
    margin:auto;
    padding: 70px 0;
}

.row{
    width:100%;
}

ion-input{
    width: 60%;
    margin-top:10px;
    // --background: #f3f3f3;
    border-radius: 20px;
    border: 1px solid #006efb;
    color:#fff



  
  }

 .bttn{
     margin-top:20px;
 }

  ion-label{
    color: #9aa0a6;

    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0px;

  }

  .errmsg{
    margin-bottom: 1em;
  }

  .passInfo{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0px;
    color: #9aa0a6;  
    margin-bottom: 1em;

  }

  ion-col > ion-input.ios{
    padding:15px !important
  }

  .errmsg > span{
    color:red;
  }

  small{
      color: red;
  }


  @media only screen and (max-width: 800px) {
    ion-grid{
        width: 80%;
        margin:auto;

    }

    ion-input{
        width: 100%;

      }

      .bttn{
        text-align: center;
      }
  }