

ion-grid{
    width: 80%;
    margin:auto
}

.bttn{
    text-align: center;
    margin-top: 20px;
  }

  ion-button{
      width:240px;
      --border-radius:15px;
    
}

.main{
    
    padding:70px 0
}

// ion-content{
//     padding: 70px 0;
//     text-align: center;
// }

ion-col > ion-input{
    padding: 6px;
    margin:0;
    // --background: #fff;
    border: 1px solid #006efb;
    height: 35px;
    border-radius: 20px;
    width: 80%;
    margin-top: 10px;
    color:white


  }

  .custom-label{
    margin-top:2em;
    border:1px solid #ccc;
    display: inline-block;
    padding:6px 6px;
    width:30%;

    cursor: pointer
}

input[type="file"]{
    display: none;
}


  ion-label, label{
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0px;
    color: #9aa0a6;

    // margin-bottom: 30px !important;

  }

  ion-col > ion-input.ios{
    padding:15px !important
  }

  small{
    color:red;

  }
  .passInfo{
    margin-bottom: 1em;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0px;
    color: #9aa0a6;
  }

 
  @media only screen and (max-width: 800px) {
    ion-card{
       width:100%;
    }

    .custom-label{
      margin-top: 1em;
      width: 50%;
    }

    ion-fab-button{
      width:40px;
      height:40px;
    }

    ion-grid{
        width: 90%;
        margin:auto
    }

    ion-col > ion-input{
       
        width: 100%;
    
    
      }
    

      ion-button{
        width:100px;
        --border-radius:15px;
      
  }


  }